@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #111827;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #f8fafc;
  color: #111827;
}

* {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  font: inherit;
}
body {
  background-image:
    linear-gradient(rgba(248, 250, 252, 0.88), rgba(248, 250, 252, 0.88)),
    url("/bg-linh-kien.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
  background-image:
    linear-gradient(rgba(248, 250, 252, 0.88), rgba(248, 250, 252, 0.88)),
    url("/bg-linh-kien.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}